body {
    background-color: rgb(255, 202, 210);
}

#bedroom {
    background-color: rgb(255, 126, 148);
}

#tvac {
    background-color: rgb(255, 126, 148);
}

#desk {
    background-color: rgb(255, 126, 148);
}

#bottles {
    background-color: rgb(255, 126, 148);
}

#fruitbasket {
    background-color: rgb(255, 126, 148);
}